.package-item{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.package-img img{
    border-radius: 10px 10px 0px 0px;
}
.packages-title h1{
    color: #333333;
    font-weight: bold;
}
.packages-title h5{
    color: #21AB64;
    font-weight: bold;
}
.package-button{
    border:1px solid #21AB64;
    border-radius: 5px;
    background-color: #21AB64;
    color: white;
    font-size: 18px;
    padding: 7px 15px;
    font-weight: bold;
}
.package-price{
    color:#21AB64;
}
.package-icon i{
    color: #fec42d;
    margin-right: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}
.package-info span{
    font-size: 16px;
    font-weight: bold;
}
.package-info span i{
    color: #f05942;
}