.header-bg{
    background-color:rgba(194, 243, 211, 0.8)
}
.logoutBtn{
    background-color:white;
    border: 1px solid red;
    padding: 3px 6px;
    color:black;
    margin: 3px 10px;
    border-radius: 5px;
}
.logo{
    width:60%;
}
.navbar-nav a{
    font-size: 18px;
    font-weight: 600;
}